*{
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.move-picker{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

.player-selection,.cpu-selection{
    width: 40vw;
}

.player-rock,.player-paper,.player-scissors {
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:14px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:32px 76px;
	text-decoration:none;
}
.player-rock:hover,.player-paper:hover,.player-scissors:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.player-rock:active,.player-paper:actibe,.player-scissors:active {
	position:relative;
	top:1px;
}

.cpu-rock,.cpu-paper, .cpu-scissors {
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:14px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:32px 76px;
	text-decoration:none;
}

.cpu-rock:hover ,.cpu-paper:hover ,.cpu-scissors:hover {
	cursor:not-allowed;
}
        